// _notepad.scss
// styles a sidebar of clickable items occupying the left third
// whose contents are displayed on the right two-thirds

$line-margin: 2rem 1rem 2rem 1rem;
$border: 1.5px solid #d3d3d3;

.sidebar {
  display: flex;
  width: 30%;
  height: 1;
  border: $border;
  flex-direction: column;
}
.sidebar-row {
  display: flex;
  flex-direction: column;
}
.sidebar-row__text {
  margin: $line-margin;
  align-items: center;
  padding-left: 1rem;
}
.sidebar-row__divider {
  border: $border;
  margin: 0rem 1rem 0rem 1rem;
}

.contentbar {
  display: flex;
  flex-direction: column;
  width: 69%;
  height: 1;
  border: $border;
}
.contentbar-title {
  font-size: 3rem;
  margin: 1rem 1rem 1rem 2rem;
}
.contentbar-row {
  margin: 1rem 1rem 1rem 4rem;
}