// _notepad.scss
// styles a sidebar of clickable items occupying the left third
// whose contents are displayed on the right two-thirds

$line-margin: 2rem 1rem 2rem 1rem;
$gray: #d3d3d3;
$light-gray: #e9e9e9;
$border: 1.5px solid $gray;
$content-margin: 1rem 2rem 1rem 2rem;

.sidebar {
  display: flex;
  width: 30%;
  height: 1;
  border: $border;
  flex-direction: column;
}
.sidebar-row {
  display: flex;
  flex-direction: column;
}
.sidebar-row__text {
  margin: $line-margin;
  align-items: center;
  padding-left: 1rem;
}
.sidebar-row__text.focus {
  background-color: $light-gray;
  font-weight: bold;
}
.sidebar-row__divider {
  border: $border;
  margin: 0rem 1rem 0rem 1rem;
}

.contentbar {
  display: flex;
  flex-direction: column;
  width: 69%;
  height: 1;
  border: $border;
}
.contentbar-title, .form-title {
  font-size: 3rem;
  margin: $content-margin;
}
.contentbar-row, {
  margin: $content-margin;
  padding-left: 2rem;
  font-size: 1.5rem;
}

.form-title > input {
  width: 100%;
  padding: 0.5rem;
}
.form-content {
  margin: $content-margin;
  font-size: 1.5rem;
}
.form-content > textarea {
  resize: none;
  padding: 0.5rem;
  width: 100%;
  height: 40vh;
  overflow: scroll;
}
.form__button-bar {
  display: flex;
  flex-flow: row-reverse wrap;
  margin: $content-margin;
}
.form__button-bar > .button {
  margin: $line-margin;
}